<div class="wt-modal profile-window" style="display: block">
	<div class="modal-dialog help">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" ng-click="cancel()">
					<span aria-hidden="true"><i class="icon-cross-16"></i></span>
					<span class="sr-only">Close</span>
				</button>

				<h3 class="modal-title">OZONE Help Zone</h3>
			</div>

			<div class="modal-body">

				<container>
				<div class="col-md-6">
					<h4>Documents</h4>
					<ul>
						<li ng-repeat="(name, url) in helpDocs">
							<a target="_blank" ng-href="{{url}}">{{name}}</a>
						</li>
					</ul>
				</div>

				<div class="col-md-6">
					<h4>Videos</h4>
					<ul>
						<li ng-repeat="(name, url) in helpVideo">
							<a target="_blank" ng-href="{{url}}">{{name}}</a>
						</li>
					</ul>
					</div>
				</container>
				
				<!--<iframe ng-src="{{helpUrl}}"/>-->
			</div>
		</div>

	</div>

</div>
