.ozp-toolbar-top, .ozp-toolbar-bottom {
    height: 40px;
    background-color: #000000;
}

.ozp-toolbar-top > form {
    padding: 4px;
}

.ozp-search {
    height: 30px;
}

.ozp-icon, .ozp-button {
    margin: 2px 20px;
}

.ozp-icon-icon {
    max-width: 20px;
}

.ozp-button-icon {
    max-width: 20px;
}

.ozp-toolbar-internal, .ozp-toolbar-top {
    display: flex;
}

ozp-toolbar[location="bottom"] {
    position: absolute;
    bottom: 0px;
    width: 100%;
}

/* Frames must be absolute position */
.ozp-managed-frame {
    position: absolute;
}

.managed-frame, .managed-iframe {
    /* position: absolute; */
    background-color: white;
    height: inherit;
}

/* Frame chrome */
.managed-frame, .managed-iframe {
    border: 1px solid grey;
}

.ozp-chrome > .chrome-icon {
    max-height: 19px;
    max-width: 19px;
}
