.ozp-toolbar {
    height: 40px;
    background-color: #000000;
}

.ozp-toolbar-top, .ozp-toolbar-bottom, .ozp-toolbar-internal {
    height: inherit;
}

.ozp-toolbar-top > form {
    padding: 4px;
}

.ozp-search {
    height: 30px;
}

.ozp-icon, .ozp-button {
    margin: 2px 20px;
}

.ozp-icon-icon {
    max-width: 20px;
}

.ozp-button-icon {
    max-width: 20px;
}

.ozp-toolbar-internal, .ozp-toolbar-top {
    display: flex;
}

ozp-toolbar[location="bottom"] {
    position: absolute;
    bottom: 0px;
    width: 100%;
}

/* Frames must be absolute position */
.managed-frame, .managed-iframe {
    position: absolute;
}

.managed-iframe {
    background-color: white;
}
