.ozp-toolbar-top, .ozp-toolbar-bottom {
    height: 40px;
    background-color: #000000;
}

.ozp-toolbar-top > form {
    padding: 4px;
}

.ozp-search {
    height: 30px;
}

/* Space out buttons a bit */
.ozp-button {
    margin: 2px 20px;
}

.ozp-icon {
    margin: 5px 5px;
}

/* Icons should be a good size */
.ozp-icon-icon {
    max-width: 40px;
}

/* Space icon's internal pieces */
.ozp-icon-icon, .ozp-icon-text {
    margin: 2px;
}

.ozp-button-icon {
    max-width: 20px;
}

.ozp-toolbar-internal, .ozp-toolbar-top {
    display: flex;
}

/* Set bottom toolbar to the bottom of the rendering window */
ozp-toolbar[location="bottom"] {
    position: absolute;
    bottom: 0px;
    width: 100%;
}

/* Frames must be absolute position, and border signifies a 'window' */
.ozp-managed-frame {
    position: absolute;
    background-color: white;
    border: 1px solid grey;
}

/* Seperate chrome from the frame */
.ozp-chrome {
    border-bottom: 1px solid grey;
    cursor: pointer;
}

/* Chrome icon sizing */
.ozp-chrome > .chrome-icon {
    max-height: 19px;
    max-width: 19px;
}

/* Chrome button sizing */
.chrome-btn {
    padding: 5px;
}

/* Display icons with Flexbox */
.icon-container {
    display: flex;
}
