<div ng-controller="ApplicationToolbarCtrl">
  <nav class="navbar navbar-default navbar-inverse app-toolbar no-rounded-corners"
       role="navigation" ng-class="{true: 'hide', false: ''}[fullScreenMode]">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <ul class="nav navbar-nav">
          <!-- stuff on the left side of the nav bar -->
          <li>
            <a class="navbar-brand" href="" ng-click="openApplicationsModal()">
              <i class="fa fa-plus" style="margin-top: 4px;"></i>
            </a>
          </li>
          </ul>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li class="dropup">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{currentDashboard.name | limitTo : dashboardNameLength}} <span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
              <li ng-repeat="board in dashboards">
                <a ng-click="setCurrentDashboard(board)"
                   href="#/{{board.layout}}/{{board.id}}"><i class="fa fa-desktop"></i>&nbsp&nbsp {{board.name}}</a>
              </li>
            </ul>
          </li>
          <li class="divider-vertical"></li>
          <li>
            <a ng-click="useGridLayout()" href="#/grid/{{currentDashboard.id}}"
               ng-class="{navLinkSelected: layout == 'grid'}"
                tooltip="Grid layout" tooltip-placement="top">
              <i ng-class="{iconWhite: layout == 'grid'}" class="fa fa-th fa-lg"></i>
            </a>
          </li>
          <li class="divider-vertical"></li>
          <li>
            <a ng-click="useDesktopLayout()" href="#/desktop/{{currentDashboard.id}}"
               ng-class="{navLinkSelected: layout == 'desktop'}" tooltip="Desktop layout"
                tooltip-placement="top">
              <i ng-class="{iconWhite: layout == 'desktop'}" class="fa fa-clipboard fa-lg"></i>
            </a>
          </li>
          <li class="divider-vertical"></li>
          <!-- stuff on the left side of the nav bar -->
          <li ng-repeat="app in myPinnedApps" ng-click="maximizeFrame(app)"
              >
            <a tooltip="{{app.name | limitTo : 15}}" style="padding-right: 0px; padding-left: 15px; padding-bottom: 0px;">
              <img class="chrome-icon app-toolbar-img"
                   ng-src="{{app.icon.large}}"/>
              <div ng-class="app.isMinimized && layout === 'desktop'? 'app-toolbar-inactive-app' : 'app-toolbar-active-app'">&nbsp</div>
            </a>
          </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li ng-show="previousAppsVisible"><i class="fa fa-angle-double-left fa-inverse fa-lg link-pointer"
                 ng-click="previousApps()" style="margin-top: 15px;"></i></li>
          <li ng-show="nextAppsVisible"><i class="fa fa-angle-double-right fa-inverse fa-lg link-pointer"
                 ng-click="nextApps()" style="margin-top: 15px;"></i></li>

          <li class="divider-vertical"></li>
          <li class="hideToolbarButton link-pointer" tooltip="Enter Full Screen"
              tooltip-placement="top"
              style="width: 25px; float: right; margin-right: 5px; margin-top: 2px;">
            <a ng-click="toggleFullScreenMode();">
              <i class="fa fa-expand fa-lg"></i>
            </a>
          </li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>
<button class="hiddenToggle appHiddenToggle" ng-click="toggleFullScreenMode();"
        ng-class="{false: 'hide'}[fullScreenMode]"
        tooltip="Exit Full Screen" tooltip-placement="left">
  <i class="fa fa-compress fa-lg"></i>
</button>
</div>