<div ng-controller="ApplicationToolbarCtrl">
    <div class="navbar navbar-default app-toolbar"
         ng-class="{true: 'hide', false: ''}[fullScreenMode]">
        <div class="container-fluid">
            <div class="navbar-left">
                <ul class="nav navbar-nav">
                    <li class="highlight">
                      <a class="lrg" href="" ng-click="openApplicationsModal()">
                        <i class="icon-plus"></i>
                      </a>
                    </li>
                    
                    <li class="navbar-spacer"></li>
                    <li class="dropdown dropup">
                    <!-- we start -->
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        {{currentDashboard.name | limitTo : dashboardNameLength}} <i class="icon-caret-up"></i></a>
                      <ul class="dropdown-menu" role="menu">
                        <li class="dropdown-header">Dashboards</li>
                        <li ng-repeat="board in dashboards">
                          <a class="link-pointer"><i ng-class="{desktop:'icon-stack', grid:'icon-grid'}[board.layout]"></i>
                            <span ng-click="loadDashboard(board)">{{board.name}}</span>
                              <span ng-show="board.id === currentDashboard.id">
                                <!-- <button type="button" ng-click="openDeleteDashboardModal(board)" class="close pull-right"><span aria-hidden="true">x</span></button> -->
                                <span class="pull-right" ng-click="openDeleteDashboardModal(board)">X</span>
                                <i class="icon-pencil pull-right" style="margin-right: 10px;" ng-click="openEditDashboardModal()"></i>
                              </span>
                          </a>
                        </li>
                        <li>
                          <a class="caboose" class="link-pointer">
                            <!-- TODO create dashboard view-->
                            <i class="icon-plus"></i>Create a new dashboard
                          </a>
                        </li>
                      </ul>
                    </li>
                    <li class="navbar-spacer"></li>
 
                    <li class="app" ng-repeat="app in myPinnedApps" ng-class="{true:'',false:'active', 'undefined':'active'}[app.isMinimized]">
                      <a tooltip="{{app.name | limitTo : 15}}"
                          ng-click="maximizeFrame(app)">
                        <img ng-src="{{app.icon.large}}" />
                        <!-- <div ng-class="app.isMinimized && currentDashboard.layout === 'desktop'? 'app-toolbar-inactive-app' : 'app-toolbar-active-app'">&nbsp</div> -->
                      </a>
                    </li>                   
                </ul>
            </div>

            <div class="navbar-right">
                <ul class="nav navbar-nav">
                    <!-- <li><a href="#"><i class="icon-fast-forward"></i></a></li> -->
                    <li ng-click="toggleFullScreenMode();">
                      <a href="" tooltip="Enter Full Screen" tooltip-placement="top">
                        <i class="icon-maximize"  ></i></a>
                    </li>
                    <li ng-click="cascadeWindows()" ng-hide="currentDashboard.layout === 'grid'">
                      <a href="" tooltip="Cascade Windows" tooltip-placement="top">
                        <i class="icon-stack-2"></i></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <button class="hiddenToggle appHiddenToggle" ng-click="toggleFullScreenMode();"
        ng-class="{false: 'hide', true:''}[fullScreenMode]"
        tooltip="Exit Full Screen" tooltip-placement="left">
      <i class="icon-minimize"></i>
    </button>
</div>