<!DOCTYPE html>
<html>
<head>
  <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet">

  <script src="https://code.jquery.com/jquery-2.1.1.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>

  <script src="../../vendor/angular/angular.js"></script>
  <script src="../../vendor/ozp-iwc-angular/dist/js/ozpIwc-client-angular.js"></script>
  <script src="app.js"></script>

</head>
<body ng-app="OzpDataUtility" ng-controller="MainController">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <h1>OZP Data Utility for Webtop</h1>

        <p>
          Utility to make sure the marketplace, backend data, and IWC are
          behaving appropriately for use with Webtop
        </p>
        <p>OZP Bus: </p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <form class="form-horizontal" role="form">
          <div class="form-group has-feedback">
            <!--<label for="busUrl" class="col-sm-2 control-label">OZP Bus</label>-->
            <div class="col-sm-7">
              <input type="text" class="form-control" id="busUrl"
                     placeholder="OZP Bus URL" ng-model="ozpBusInfo.url">
              <span ng-show="!ozpBusInfo.connected"
                    class="glyphicon glyphicon-remove form-control-feedback"
                    style="color: red;">
              </span>
              <span ng-show="ozpBusInfo.connected"
                    class="glyphicon glyphicon-ok form-control-feedback"
                    style="color: green;">
              </span>
            </div>
            <div class="col-sm-3">
              <button ng-show="!ozpBusInfo.connected" type="button"
                      class="btn btn-success" ng-click="connectToBus()">
                Connect
              </button>
              <button ng-show="ozpBusInfo.connected" type="button"
                      class="btn btn-danger" ng-click="disconnectFromBus()">
                Disconnect
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <button type="button" class="btn btn-primary" ng-click="refresh()">Refresh All</button>
        <span>Reconnect to the OZP Bus and reload marketplace data from <code>system.api</code> and
        dashboard data from the <code>data.api</code></span>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <h2>Dashboards
          <span class="label label-default" ng-show="loadingDashboards">Loading ...</span>
          <span class="label label-danger" ng-show="invalidDashboards">Invalid Dashboard Data</span>
        </h2>
      </div>
    </div>
    <div class="row" style="margin-bottom: 20px;">
      <div class="col-xs-12">
        <button type="button" class="btn btn-primary"
                ng-click="syncDashboardData()">Sync Application Ids
        </button>
        <span> If you see invalid apps for any of the dashboards, it means an application found
        in the dashboard data has a name the matches up with an application retrieved from the marketplace,
        but the application id doesn't match. This happens because the application ids change each time the
        sample marketplace data is reloaded in the backend. Hit this button to synchronize the ids in the
        dashboard data (<code>data.api</code>) with those in the marketplace (<code>system.api</code>).</span>

      </div>
      <div class="col-xs-12" style="margin-top: 15px;">
        <button type="button" class="btn btn-warning" ng-click="reloadDashboardData()">Reload Dashboard Data</button>
        <span> Reload the <code>data.api</code> with demo dashboard data located <a href="dashboard-data.json">here</a></span>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <button type="button" class="btn btn-warning" ng-click="clearDashboardData()">Clear Dashboard Data</button>
        <span> Clear all dashboard data</span>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <p>Dashboards: <strong>{{dashboardData.dashboards.length}}</strong></p>
        <table class="table">
          <thead>
            <tr>
              <th>Name</th>
              <th>Apps</th>
              <th>Valid Apps</th>
              <th>Invalid Apps</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="board in dashboardData.dashboards">
              <td>{{board.name}}</td>
              <td>{{board.frames.length}}</td>
              <td>{{board.validApps}}</td>
              <td>{{board.invalidApps}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <h2> Marketplace <span class="label label-default" ng-show="loadingMarketplace">Loading ...</span> </h2>
        <p>Applications: <strong>{{appListings.length}}</strong></p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <table class="table">
          <thead>
            <tr>
              <th>Large Icon</th>
              <th>Small Icon</th>
              <th>Name</th>
              <th>Short Description</th>
              <th>Link</th>
            </tr>
          </thead>
          <tbody>
          <tr ng-repeat="app in appListings">
            <td>
              <img width="32" height="32" ng-src="{{app.icons.large}}"/>
            </td>
            <td>
              <img width="16" height="16" ng-src="{{app.icons.small}}"/>
            </td>
            <td>{{app.name}}</td>
            <td>{{app.descriptionShort}}</td>
            <td><a href="{{app.launchUrls.default}}">Link</a></td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</body>
</html>