<div class="ozp-chrome">
  <img class="chrome-icon" ng-src="{{myframe.icon.small}}">
  <span class="chrome-name">{{myframe.name}}</span>
  <span class="chrome-controls" >
    <button type="button" class="btn chrome-minimize" ng-hide="isGrid" ng-click="minimizeFrame(myframe)">
      <span class="glyphicon glyphicon-minus"></span>
    </button>
    <button type="button" class="btn chrome-maximize" ng-hide="isGrid" ng-click="maximizeFrame(myframe)">
      <span class="glyphicon glyphicon-plus"></span>
    </button>
    <button type="button" class="btn chrome-close" ng-click="isDisabled(myframe)">
      <span class="glyphicon glyphicon-remove"></span>
    </button>
  </span>
</div>
