<div class="wt-modal profile-window" style="display: block">
	<div class="modal-dialog default">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" ng-click="ok()">
					<span aria-hidden="true"><i class="icon-cross-16"></i></span>
					<span class="sr-only">Close</span>
				</button>

				<h3 class="modal-title">{{title}}</h3>
			</div>

			<div class="modal-body">
					<p>{{content}}</p>
			</div>
			<div class="modal-footer wt-modal-footer">
        <button class="btn btn-default" ng-click="ok()">
        Close
        </button>

		  </div>
		</div>

	</div>

</div>
