<div class="wt-modal profile-window" style="display: block">
	<div class="modal-dialog default">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" ng-click="cancel()">
					<span aria-hidden="true"><i class="icon-cross-16"></i></span>
					<span class="sr-only">Close</span>
				</button>

				<h3 class="modal-title">Profile</h3>
			</div>

			<div class="modal-body">
				<section>
                    <div class="col-md-4 col-sm-6">
                        <i class="icon-head-60-grayLighter" />
                        <h2>{{profileName}}</h2>
                        <p><b>{{profileUsername}}</b><br />{{profileEmail}}</p>
                    </div>
                    <div class="col-md-8 col-sm-6 owned-listings">
                        <h4>{{profileName}}'s Listings</h4>
                        <ul ng-show="getUserListings.length" ng-repeat="list in getUserListings">
				  			<li class="listing col-md-6">
				  				<a target="_blank" ng-href="{{centerUrl}}/#/home/?/?=&listing={{list.id}}&action=view&tab=overview">
                                    <img ng-src="{{list.large_icon.url}}"> &nbsp;{{list.title}}
                                </a>
				  			</li>
				  		</ul>
                        <p ng-hide="getUserListings.length">You have not created any listings yet. To start, submit a listing from the global menu.</p>
                    </div>
                </section>
			</div>
		</div>

	</div>

</div>
