<nav class="navbar navbar-default navbar-fixed-top ozp-toolbar"
    ng-class="{true: 'hide', false: ''}[fullScreenMode]">
  <div class="container-fluid">
    <div class="navbar-left">
      <ul class="nav navbar-nav">
        <li tooltip="HUD" tooltip-placement="bottom" tooltip-popup-delay="{{toolTipDelay}}"><a class="lrg" ng-href="{{hudUrl}}" alt="Hud Icon"><i class="icon-home-grayLightest"></i></a></li>
        <li tooltip="Center" tooltip-placement="bottom" tooltip-popup-delay="{{toolTipDelay}}">
          <a class="lrg" ng-href="{{centerUrl}}" alt="Center Icon">
            <i class="icon-shopping-grayLightest"></i>
          </a>
        </li>
        <li class="active" tooltip="Webtop" tooltip-placement="bottom" tooltip-popup-delay="{{toolTipDelay}}">
          <a class="lrg" ng-href="{{webtopUrl}}" alt="WebTop Icon">
            <i class="icon-layout-blue"></i>
          </a>
        </li>
      </ul>
    </div>

    <div class="navbar-right">
      <ul class="nav navbar-nav">
        <!-- No Notification Message -->
        <li ng-show="!thereAreUnexpiredNotifications" >
          <a tooltip="No new notifications" tooltip-placement="bottom" tooltip-popup-delay="{{toolTipDelay}}">
            <i class="icon-bell-grayLightest" ></i>
          </a>
        </li>
        <!-- One or More Notifications Message -->
        <li class="dropdown" ng-show="thereAreUnexpiredNotifications" dropdown>
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" tooltip="{{notificationTooltip}}" tooltip-placement="bottom" tooltip-popup-delay="{{toolTipDelay}}" dropdown-toggle>
            <i class="icon-bell-filled-blue"></i>
          </a>
          <ul class="dropdown-menu">
            <li class="UserNotification" ng-repeat="message in messages">
              <div>
                <button type="button" class="close pull-right" ng-click="dismissNotification(message)" alt="Dismiss Notification">
                  <i class="icon-cross-16-white"></i>
                </button>
                <h5 class="created-by">AppsMall</h5>
                <div class="created-at">
                  <span class="Time" style="font-style: italic">{{message.createdDate | cmdate: 'MM/dd/yyyy HH:mm'}}</span>
                </div>
                <p class="message small">{{message.message}}</p>
              </div>
              <!-- don't show last divider -->
              <div ng-show="$index !== messages.length - 1" class="divider"></div>
            </li>
          </ul>
        <li>
          <a href="" ng-click="openHelpModal()" data-toggle="modal" data-target="#modal_help" alt="Open Help Modal" tooltip="Help" tooltip-placement="bottom" tooltip-popup-delay="{{toolTipDelay}}">
            <i class="icon-question-grayLightest"></i>
          </a>
        </li>
        <li class="dropdown" dropdown>
          <a href="#" class="lrg dropdown-toggle" data-toggle="dropdown" tooltip="Menu" tooltip-placement="bottom" tooltip-popup-delay="{{toolTipDelay}}" dropdown-toggle>
            <i class="icon-menu-grayLightest"></i>
          </a>
          <ul class="dropdown-menu">
            <li class="dropdown-header">Personalize</li>
            <li><a ng-href="{{hudUrl}}" alt="Bookmarks link"><i class="icon-ribbon-grayLightest"></i>Bookmarks</a></li>
            <li><a href="" ng-click="openProfileModal()" alt="Profile link"><i class="icon-head-grayLightest"></i>Profile</a></li>
            <li><a href="" ng-click="openSettingsModal()" alt="Settings link"><i class="icon-cog-grayLightest"></i>Settings</a></li>
            <li class="divider"></li>
            <li class="dropdown-header">Create</li>
            <li><a ng-href="{{centerUrl}}/#/edit" alt="Submit a Listing link"><i class="icon-square-plus-grayLightest"></i>Submit a Listing</a></li>
            <li><a ng-href="{{developerResourcesUrl}}" target="_blank" alt="Developer Resources link"><i class="icon-cloud-grayLightest"></i>Developer Resources</a></li>
            <li class="divider"></li>
            <li class="dropdown-header">Manage</li>
            <li><a ng-href="{{centerUrl}}/#/user-management/my-listings" alt="Listing Management link"><i class="icon-layers-grayLightest"></i>Listing Management</a></li>
            <li><a ng-href="{{centerUrl}}/#/mall-management/categories" alt="Center Settings link"><i class="icon-shopping-settings-grayLightest"></i>Center Settings</a></li>
            <li><a ng-href="{{metricsUrl}}" target="_blank" ng-show="isAdmin" alt="Metrics link"><i class="icon-bar-graph-2-grayLightest"></i>Metrics</a></li>
            <li><a ng-href="{{feedbackAddress}}" class="caboose" target="{{feedbackTarget}}" alt="Submit Feedback link"><i class="icon-mail"></i>Submit Feedback</a></li>
        </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
