// Fonts

// Ubuntu
@import "../../vendor/ubuntu-fontface/ubuntu.less";
// Override font path
@UbuntuFontsPath: '.';

// normal ubuntu font is too thick for defaults with bootstrap, so make
// Ubuntu 'light' the normal:

/* BEGIN Ubuntu Regular */
@font-face {
    font-family: 'Ubuntu';
    src: url('@{UbuntuFontsPath}/ubuntu-light-webfont.eot');
    src: url('@{UbuntuFontsPath}/ubuntu-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('@{UbuntuFontsPath}/ubuntu-light-webfont.woff') format('woff'),
         url('@{UbuntuFontsPath}/ubuntu-light-webfont.ttf') format('truetype'),
         url('@{UbuntuFontsPath}/ubuntu-light-webfont.svg#ubunturegular') format('svg');
    font-weight: normal;
    font-style: normal;
}
/* END Ubuntu Regular */

/* BEGIN Ubuntu Regular Italic */
@font-face {
    font-family: 'Ubuntu';
    src: url('@{UbuntuFontsPath}/ubuntu-light-italic-webfont.eot');
    src: url('@{UbuntuFontsPath}/ubuntu-light-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('@{UbuntuFontsPath}/ubuntu-light-italic-webfont.woff') format('woff'),
         url('@{UbuntuFontsPath}/ubuntu-light-italic-webfont.ttf') format('truetype'),
         url('@{UbuntuFontsPath}/ubuntu-light-italic-webfont.svg#ubuntuitalic') format('svg');
    font-weight: normal;
    font-style: italic;
}
/* END Ubuntu Regular Italic */
