/**
 * This is the main application stylesheet. It should include or import all
 * stylesheets used throughout the application as this is the only stylesheet in
 * the Grunt configuration that is automatically processed.
 */


/**
 * First, we include the Twitter Bootstrap LESS files. Only the ones used in the
 * project should be imported as the rest are just wasting space.
 */

@import '../../vendor/bootstrap/less/bootstrap.less';

/**
 * Include font-awesome and override the font path (in variables.less)
 */
@import '../../vendor/components-font-awesome/less/font-awesome.less';

/*
 * Original CSS (provided by designer(s)) - may want to bring this back
 * eventually
 */
// @import 'originalcss.less';

/**
 * This is our main variables file. We must include it last so we can overwrite
 * any variable definitions in our imported stylesheets.
 */

@import 'variables.less';

/**
 * Typography
 *
 */
@import 'fonts.less';


html {
  position: relative;
  min-height: 100%;
  background-color: @dashboard-bg-color;
}

body {
  margin-bottom: @app-toolbar-height;
}

// bring back vertical dividers in bootstrap 3.0
// http://stackoverflow.com/questions/19203816/vertical-divider-wont-work-in-bootstrap-3-0
.navbar .divider-vertical {
  height: @navbar-height;
  margin: 0 9px;
  border-right: 1px solid @ozp-white;
  border-left: 1px solid @ozp-lt-gray1;
}

.navbar-inverse .divider-vertical {
  border-right-color: #222222;
  border-left-color: #111111;
}

@media (max-width: 767px) {
.navbar-collapse .nav > .divider-vertical {
    display: none;
  }
}

.no-rounded-corners {
  -webkit-border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  border-radius: 0 !important;
}

// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
//                        user settings modal
// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

.app-modal-window .modal-dialog {
  width: 900px;
}

// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
//                        dashboard navigation bar
// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
.navbar-right li {
  margin-left: 20px;
}

.iconWhite {
  color: @ozp-white;
}

#main-menu-dropdown {
  margin-left: -30px;
}

.dashboard-toolbar {
  margin-top: 0;
  margin-bottom: 0;
}

.notification-text {
  margin-top: .1em;
  margin-left: -.6em;
  font-size: 10px;
}

.notification-icon {
  padding-top: 2px;
}

.no-notifications-icon {
  color: @ozp-gray1;
  padding-top: 7px;
}

.menu-icon {
  margin-right: 7px;
}

#dashboard-clock {
  color: @nav-disabled-link-color;
  padding-top: 10px;
  padding-right: 8px;
}

// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
//                        dashboard view
// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

// Grid view
.gridster-container-settings {
  background-color: @dashboard-bg-color;
  width: 100%;
}

// Desktop view

// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
//                        app toolbar
// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
.app-toolbar {
  position: fixed;
  margin-top: 0;
  margin-bottom: 0;
  bottom: @classification-banner; // height of the classification banner
  width: 100%;
  /* Set the fixed height of the footer here */
  height: @app-toolbar-height;
  z-index: 200;
}

.app-toolbar-ng-include {
  padding-top: 75px;  // 15px more than @app-toolbar-height
  background-color: @dashboard-bg-color;
}

// useful if you have a link using ng-click with no href-="..."
.link-pointer {
  cursor: pointer;
}

.app-toolbar-img {
  height: 18px;
  width: 18px;
  margin-right: 5px;
}

.active-app {
  margin-right: 5px;
  background-color: @navbar-inverse-bg;
  height: @navbar-height;
}

.inactive-app {
  margin-right: 5px;
  background-color: @ozp-black;
  height: @navbar-height;
}

.hiddenToggle {
  width: 30px;
  height: 30px;
  right: 0;
  position: fixed;
  z-index: 10000;
  background-color: @ozp-black;
  border: none;
  color: @ozp-white;
}

// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
//                        security banner
// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

.classBanner {
  position: fixed !important;
  z-index: 200;
}

body > div.classBanner:first-of-type {
    top: 0px;
}

body > div.classBanner:last-of-type {
    bottom: 0;
}

// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
//                        desktop frames
// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

/* Frames must be absolute position */
.ozp-managed-frame {
    position: absolute;
    background-color: @ozp-white;
    border: 1px solid #ddd;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 2px 2px 4px 0px rgba(50, 50, 50, 0.15);
    -moz-box-shadow:    2px 2px 4px 0px rgba(50, 50, 50, 0.15);
    box-shadow:         2px 2px 4px 0px rgba(50, 50, 50, 0.15);
}

.ozp-chrome {
    background: @ozp-lt-gray1;
    color: @ozp-gray2;
    font-size: 10pt;
    height: 25px;
    cursor: default;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.ozp-chrome > .chrome-icon {
    max-height: 19px;
    max-width: 19px;
    margin: 3px;
    float: left;
}

.ozp-chrome > .chrome-name {
    line-height: 25px;
    white-space: nowrap;
    margin-left: 3px;
    max-width: 115px;
    overflow: hidden;
    display: block;
    float: left;
}

.ozp-chrome > .chrome-controls {
    float: right;
    margin: 3px 6px;
}

.ozp-chrome > .chrome-controls > .btn {
    background: transparent;
    padding: 0;
    color: @ozp-lt-gray2;
    font-size: 10px;
}

.ozp-chrome > .chrome-controls > .btn:hover,
.ozp-chrome > .chrome-controls > .btn:active {
    color: @ozp-dk-gray2;
}

// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
//                        user settings modal
// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
.modal-fmt {
  color: @ozp-lt-gray2;
}
/**
 * Now that all app-wide styles have been applied, we can load the styles for
 * all the submodules and components we are using.
 */

// @import '../app/home/home.less';

.fullWidth {
  width: 100% !important;
  height: auto !important;
  left: 0 !important;
  top: @app-toolbar-height + @classification-banner !important;
  bottom: @app-toolbar-height  + @classification-banner !important;
}

.fullWidthTopHidden {
  top: @classification-banner !important;
}

.navbar-fixed-bottom {
  border: 0;
}

.hide {
  display: none;
}

.dashHiddenToggle {
  top: @classification-banner;
}

.appHiddenToggle {
  bottom: @classification-banner;
}

.appToggle {
  bottom: @classification-banner !important;
}

.dashToggle {
  top: @classification-banner !important;
}

.grid-toolbar-padding {
  padding-bottom: @app-toolbar-height;
}

.ozp-managed-frame .ng-scope {
  height: 100%;
}

.ozp-managed-frame {
  overflow: hidden;
}

.managed-iframe, managed-frame {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
}

.ui-draggable-iframeFix {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  opacity: 1;
  zIndex: 1000;
}

.ui-body-iframe-fix {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: red;
  z-index: 1111;
}

.classBanner {
  bottom: 0 !important;
}