/**
 * These are the variables used throughout the application. This is where 
 * overwrites that are not specific to components should be maintained.
 */

/**
 * Typography-related.
 */

@sansFontFamily: 'Roboto', sans-serif;

// override path for font-awesome files
@fa-font-path: "/assets";

// background color of main dashboard view
@dashboard-bg-color: #333333;

// app toolbar height
@app-toolbar-height: 60px;