<div ng-controller="UserSettingsCtrl">
  <div class="modal-header">
    <h3 class="modal-title">Settings</h3>
  </div>
  <div class="modal-body">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-4">
          <h4>Preferences </h4>
        </div>
        <div class="col-md-8">
          <form class="form-horizontal" role="form">
            <div class="form-group">
              <label for="themeSelect" class="col-sm-6 control-label"> Theme </label>
              <div class="col-sm-6">
                <select class="form-control" id="themeSelect"
                    ng-model="preferences.theme" ng-options="theme for theme in themes">
                </select>
              </div>
            </div>
            <div class="form-group">
              <label for="defaultDashboardSelect" class="col-sm-6 control-label">
                Default Dashboard </label>
              <div class="col-sm-6">
                <select class="form-control" id="defaultDashboardSelect"
                        ng-model="preferences.defaultDashboard"
                        ng-options="board.name as board.name for board in dashboards">
                </select>
              </div>
            </div>

            <div class="form-group">
              <label for="autoHideToolbars" class="col-sm-6 control-label">
                Auto-hide toolbars </label>
              <div class="checkbox col-sm-6">
                <input type="checkbox" id="autoHideToolbars"
                       ng-model="preferences.autohideToolbars">
              </div>
            </div>
          </form>
        </div>
      </div>
      <hr />
      <div class="row">
        <div class="col-md-4">
          <h4> Dashboards </h4>
        </div>
        <div class="col-md-8">
          <form class="form-horizontal" role="form" name="editDashboardsForm">

            <div class="form-group"
                 ng-class="{'has-error': editDashboardsForm.$error.pattern || editDashboardsForm.$error.required || dashboard.flaggedForDelete}"
                 ng-repeat="dashboard in dashboards">
              <div class="col-sm-8 input-append">
                <ng-form name="dashboardNameForm">
                  <label class="control-label" for="dashboardName"
                       ng-show="dashboard.flaggedForDelete">
                  Dashboard will be deleted</label>
                  <label class="control-label" for="dashboardName"
                       ng-show="dashboardNameForm.dashboardName.$error.pattern">
                  Invalid name</label>
                  <label class="control-label" for="dashboardName"
                       ng-show="dashboardNameForm.dashboardName.$error.required">
                  Required</label>
                  <input id="dashboardName" type="text" class="form-control"
                       ng-pattern="validNamePattern"
                       name="dashboardName" ng-model="dashboard.name" required
                      ng-readonly="dashboard.flaggedForDelete">
                </ng-form>
              </div>
              <div class="col-sm-2">
                <button ng-show="dashboard.flaggedForDelete" type="button"
                        class="btn btn-warning"
                        ng-click="undoDeleteClicked(dashboard)">Undo</button>
                <button ng-show="!dashboard.flaggedForDelete" type="button"
                        class="btn btn-danger"
                        ng-click="deleteClicked(dashboard)">Delete</button>
              </div>
            </div>
            <div class="form-group"
                ng-class="{'has-error': editDashboardsForm.$error.pattern || editDashboardsForm.$error.required}">
              <div class="col-sm-8 input-append">
                <label class="control-label" for="newDashboardNameInput"
                       ng-show="editDashboardsForm.newDashboardNameInput.$error.pattern">
                  Invalid name</label>
                  <label class="control-label" for="newDashboardNameInput"
                       ng-show="editDashboardsForm.newDashboardNameInput.$error.required">
                  Required</label>
                  <input id="newDashboardNameInput" type="text" class="form-control"
                       ng-pattern="validNamePattern"
                       name="newDashboardNameInput" ng-model="newDashboardName.name"
                         ng-readonly="!addingNewBoard" ng-required="addingNewBoard">
              </div>
              <div class="col-sm-2">
                <button ng-show="addingNewBoard" type="button"
                        class="btn btn-warning"
                        ng-click="undoAddDashboardClicked()">Undo</button>
                <button ng-show="!addingNewBoard" type="button"
                        class="btn btn-success"
                        ng-click="addDashboardClicked()">Add</button>
              </div>
            </div>
            </form>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button ng-show="editDashboardsForm.$error.pattern || editDashboardsForm.$error.required"
            class="btn btn-primary" disabled="disabled">Ok</button>
    <button ng-show="!editDashboardsForm.$error.pattern && !editDashboardsForm.$error.required"
            class="btn btn-primary" ng-click="ok()">OK</button>
    <button class="btn" ng-click="cancel()">Cancel</button>
  </div>
</div>