<div class="wt-modal profile-window" style="display: block">
	<div class="modal-dialog default">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" ng-click="cancel()">
					<span aria-hidden="true"><i class="icon-cross-16"></i></span>
					<span class="sr-only">Close</span>
				</button>

				<h3 class="modal-title">Profile</h3>
			</div>

			<div class="modal-body">
					<section class="profile-info">
						<dl>
						    <dt>Name</dt><dd>{{profileName}}</dd>
						    <dt>Username</dt><dd>{{profileUsername}}</dd>
						    <dt>Email</dt><dd>{{profileEmail}}</dd>
						</dl>
							<section class="owned-listings">
								<header>
								  <h4> {{profileName}}'s Listings</h4>
								  <small> A list of the Center listings that this user owns</small>
								</header>
							  		<ul ng-show="getUserListings.length" ng-repeat="list in getUserListings"> 
							  			<li> 
							  				
							  				<img ng-src="{{list.imageMediumUrl}}"> &nbsp;<a target="_blank" ng-href="{{centerUrl}}/#/home?listing={{list.id}}&action=view&tab=overview">{{list.title}}</a>
							  			</li>
							  		</ul>
							</section>
					</section>
			</div>
		</div>

	</div>

</div>
