<div class="wt-modal">
	<div class="modal-header wt-modal-header">
		<button type="button" class="close" ng-click="cancel()">
			<span aria-hidden="true"><i class="icon-cross-16-white"></i></span>
			<span class="sr-only">Close</span>
		</button>

		<h3 class="modal-title">Profile</h3>
	</div>

	<div class="modal-body wt-modal-body">
		<form role="form" class="row">
			<div class="form-group col-lg-6">
			  <ul style="list-style-type: none; margin-left: 0; padding-left: 0;">
			    <li><b> Name: </b> {{profileName}}</li>
			    <li><b> Username: </b> {{profileUsername}}</li>
			    <li><b> Email: </b> {{profileEmail}}</li>
			  </ul>

			  <h4> {{profileName}}'s Listings</h4>
			  <p> A list of the Marketplace listings that this user owns</p>
			  <p> TODO: Get listings </p>
			</div>
		</form>
	</div>

	<div class="modal-footer wt-modal-footer">
		<button class="btn btn-default" ng-click="cancel()">Cancel</button>
		<button class="btn btn-primary" ng-click="ok()">OK</button>
	</div>
</div>