<div class="wt-modal">
	<div class="modal-header">
		<button type="button" class="close" ng-click="cancel()">
			<span aria-hidden="true"><i class="icon-cross-16"></i></span>
			<span class="sr-only">Close</span>
		</button>

		<h3 class="modal-title">{{titletext}}<b>{{board.name}}</b></h3>
	</div>
	<div class="modal-body">
		<p>{{message}}</p>
	</div>
	<div class="modal-footer wt-modal-footer">
        <button class="btn btn-link" ng-click="cancel()">Cancel</button>
        <button class="btn btn-primary" ng-hide="disableDeleteMessage" ng-click="deleteDashboard()">Delete Dashboard</button>
  </div>
</div>
