<div class="wt-modal add-apps-style" id="modal_openApps">
  <div class="modal-header wt-modal-header">
    <button type="button" class="close" ng-click="cancel()">
      <span aria-hidden="true"><i class="icon-cross-14-grayLightest"></i> </span>
      <span class="sr-only">Close</span>
    </button>
    <h3 class="modal-title">Open bookmarked apps</h3>
    <a ng-href="{{centerUrl}}">
      <button type="button" class="btn btn-default pull-right">Find more apps</button>
    </a>
    <p> These are apps you have already bookmarked from the Center. To edit your
      bookmarks, visit the HUD
    </p>
  </div>
  <div class="modal-body wt-modal-body">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12 add-apps-list">
          <ul id="triple">
            <span ng-hide="applications" class="noAppsMessage">
              <h2>You have no bookmarked apps to display</h2>
              <h4>Visit Marketplace to discover new apps that you can start using.</h4>
              <img ng-src="assets/img/O3Marketplace_Logo_Dark_small.png" alt="OZONE Marketplace Image" />
            </span>
            <li ng-repeat="app in applications">
              <span ng-click="appSelected(app)" class="link-pointer"
                  ng-class="{addappselected: isAppSelected(app)}"
                  tooltip-placement="right" tooltip="{{app.descriptionShort}}">
                <img ng-src="{{app.icons.small}}" height="20" width="20" />
                {{app.name}}</span>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer wt-modal-footer">
    <div ng-switch on="areAnyAppsSelected()">
      <div ng-switch-when="true">
        <button class="btn btn-default"
                ng-click="openAppsInNewDashboard()">
        Open in new dashboard
        </button>
        <button class="btn btn-primary" ng-click="openApps()">Open</button>
      </div>
      <div ng-switch-default>
        <button class="btn btn-default" disabled="disabled"
                ng-click="openAppsInNewDashboard()">
        Open in new dashboard
        </button>
        <button class="btn btn-primary"
                ng-click="openApps()" disabled="disabled">Open
        </button>
      </div>
    </div>

  </div>
</div>
