<div ng-controller="ApplicationToolbarCtrl">
  <div class="navbar navbar-default app-toolbar"
       ng-class="{true: 'hide', false: ''}[fullScreenMode]">
      <div class="container-fluid">
          <div class="navbar-left">
              <ul class="nav navbar-nav">
                  <li class="highlight app-toolbar-li">
                    <a class="lrg" href="" ng-click="openApplicationsModal()" tooltip="Add apps" tooltip-placement="top" tooltip-popup-delay="{{toolTipDelay}}">
                      <i class="icon-plus-18-white"></i>
                    </a>
                  </li>

                  <li class="navbar-spacer"></li>
                  <li class="dropup app-toolbar-li" dropdown>
                  <!-- we start -->
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" alt="" dropdown-toggle>
                      {{currentDashboard.name | limitTo : dashboardNameLength }} <i class="icon-caret-up-grayLightest"></i></a>
                    <ul class="dropdown-menu" role="menu">
                      <li class="dropdown-header">Dashboards</li>
                      <li ng-repeat="board in dashboards">
                        <a class="link-pointer" alt=""><i ng-class="{desktop:'icon-stack-grayLightest', grid:'icon-grid-grayLightest'}[board.layout]"></i>
                          <span ng-click="loadDashboard(board)">{{board.name | limitTo:dashboardNameLength }}</span>
                            <i class="icon-trash-grayLightest pull-right" ng-click="openDeleteDashboardModal(board)"></i>
                            <i class="icon-pencil-grayLightest pull-right" ng-click="openEditDashboardModal(board)"></i>
                        </a>
                      </li>
                      <li>
                        <a class="caboose" class="link-pointer" href="" ng-click="openNewDashboardModal()" alt="Open New Dashboard Modal">
                          <!-- TODO create dashboard view-->
                          <i class="icon-plus-14-grayLightest"></i>Create a new dashboard
                        </a>
                      </li>
                    </ul>
                  </li>
                  <li class="navbar-spacer"></li>

                  <li class="app" ng-repeat="app in myPinnedApps">
                    <a tooltip="{{app.name | limitTo : 15}}" ng-click="toggleFrameMinimized(app)">
                      <img ng-src="{{app.icon.large}}" class="appToolbarIcon" alt="Application Icon"/>
                      <!-- <div ng-class="app.isMinimized && currentDashboard.layout === 'desktop'? 'app-toolbar-inactive-app' : 'app-toolbar-active-app'">&nbsp</div> -->
                    </a>
                  </li>
              </ul>
          </div>

          <div class="navbar-right">
              <ul class="nav navbar-nav">
                <li class="app-toolbar-li" ng-click="cascadeWindows()" ng-hide="currentDashboard.layout === 'grid'">
                    <a href="" tooltip="Cascade Windows" tooltip-placement="top" tooltip-popup-delay="{{toolTipDelay}}" alt="Cascade Windows tooltip">
                      <i class="icon-stack-grayLightest"></i></a>
                  </li>
                  <li class="app-toolbar-li" ng-click="toggleFullScreenMode();">
                    <a href="" tooltip="Enter Full Screen" tooltip-placement="top" tooltip-popup-delay="{{toolTipDelay}}" alt="Enter Full Screen tooltip">
                      <i class="icon-maximize-14-grayLightest"></i></a>
                  </li>

              </ul>
          </div>
      </div>
  </div>
  <button class="hiddenToggle appHiddenToggle" ng-click="toggleFullScreenMode();"
      ng-class="{false: 'hide', true:''}[fullScreenMode]"
      tooltip="Exit Full Screen" tooltip-placement="left" tooltip-popup-delay="{{toolTipDelay}}" alt="Exit Full Screen tooltip">
    <i class="icon-minimize-14-grayLightest"></i>
  </button>
</div>
