<div class="ozp-chrome" ng-dblclick="toggleFrameFullscreen()">
  <img class="chrome-icon" ng-src="{{frame.icon.small}}">
  <span class="chrome-name">{{frame.name}}</span>
  <span class="chrome-controls" >
    <button type="button" class="btn chrome-close" ng-click="removeFrame()">
      <span class="icon-cross-10-white"></span>
    </button>
  </span>
  <span class="chrome-controls" ng-show="frame.isMaximized">
    <button type="button" class="btn chrome-minimize" ng-hide="layout !== 'desktop'" ng-click="toggleFrameFullscreen()">
      <i class="icon-minimize-10-white"></i>
    </button>
  </span>
  <span class="chrome-controls" ng-hide="frame.isMaximized">
    <button type="button" class="btn chrome-maximize" ng-hide="layout !== 'desktop'" ng-click="toggleFrameFullscreen()">
      <span class="icon-maximize-10-white"></span>
    </button>
  </span>
  <span class="chrome-controls">
    <button type="button" class="btn chrome-minimize" ng-click="toggleFrameMinimized()">
      <span class="icon-minus-10-white"></span>
    </button>
  </span>
</div>
