<div class="wt-modal">
  <div class="modal-header wt-modal-header">
    <button type="button" class="close" ng-click="cancel()"><span aria-hidden="true"><i class="icon-cross-16-white"></i></span><span class="sr-only">Close</span></button>
    <h3 class="modal-title">Edit the dashboard <b>{{dashboard.name}}</b></h3>
  </div>

  <div class="modal-body wt-modal-body">
    <form role="form" class="row">
      <div class="form-group col-lg-6">
        <label for="name">Name</label>
        <input type="text" class="form-control" id="name" placeholder="{{dashboard.name}}" ng-model="dashboard.name" ng-required="true">
        <small>Only the first 16 characters of the dashboard name are shown in the dashboard picker.</small>
        <small class="error" ng-show="editDashboardForm.inputName.$error.required">
          <strong>Dashboard name is required</strong>
        </small>
      </div>
      <div class="form-group col-lg-2">
        <label>View</label><br />
        <button type="button" class="btn btn-default" ng-class="{'grid': 'active', 'desktop': ''}[dashboard.layout]" ng-click="dashboard.layout = 'grid'">
            <i class="icon-grid-white"></i>
        </button>
        <button type="button" class="btn btn-default" ng-class="{'grid': '', 'desktop': 'active'}[dashboard.layout]" ng-click="dashboard.layout = 'desktop'">
            <i class="icon-stack-white"></i>
        </button>
      </div>
      <div class="form-group col-lg-4 alert alert-warning" style="padding-bottom: 0;" ng-show="layoutChanged()">
          Changing the layout resets widget states
      </div>
    </form>
  </div>

  <div class="modal-footer wt-modal-footer">
    <button class="btn btn-default" ng-click="cancel()">Cancel</button>
    <span>
      <button ng-show="editDashboardForm.$error.pattern || editDashboardForm.$error.required"
              class="btn btn-primary" disabled="disabled">Save Dashboard</button>
      <button ng-show="!editDashboardForm.$error.pattern && !editDashboardForm.$error.required"
              class="btn btn-primary" ng-click="ok()">Save Dashboard</button>
    </span>
  </div>

</div>
