<nav class="navbar navbar-default navbar-fixed-top ozp-toolbar"
    ng-class="{true: 'hide', false: ''}[fullScreenMode]">
  <div class="container-fluid">
    <div class="navbar-left">
      <ul class="nav navbar-nav">
        <li><a class="lrg" ng-href="{{hudUrl}}"><i class="icon-home-grayLightest"></i></a></li>
        <li><a class="lrg" ng-href="{{centerUrl}}"><i class="icon-shopping-grayLightest"></i></a></li>
        <li class="active"><a class="lrg" ng-href="{{webtopUrl}}"><i class="icon-layout-blue"></i></a></li>
      </ul>
    </div>

    <div class="navbar-right">
      <ul class="nav navbar-nav">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i ng-class="thereAreUnexpiredNotifications == true ? 'icon-bell-filled-blue' : 'icon-bell-grayLightest'"></i></a>
          <ul class="dropdown-menu" ng-show="thereAreUnexpiredNotifications">
            <li class="UserNotification" ng-repeat="message in messages">
              <div>
                <button type="button" class="close pull-right" ng-click="dismissNotification(message)" alt="Dismiss Notification">
                  <i class="icon-cross-16-white"></i>
                </button>
                <h5 class="created-by">OZONE</h5>
                <div class="created-at">
                  <span class="Time" style="font-style: italic">{{message.createdDate | cmdate: 'MM/dd/yyyy HH:mm'}}</span>
                </div>
                <p class="message small">{{message.message}}</p>
              </div>
              <!-- don't show last divider -->
              <div ng-show="$index !== messages.length - 1" class="divider"></div>
            </li>
          </ul>
        <li>
          <a href="" ng-click="openHelpModal()" data-toggle="modal" data-target="#modal_help"><i class="icon-question-grayLightest"></i></a>
        </li>
        <li class="dropdown">
          <a href="#" class="lrg dropdown-toggle" data-toggle="dropdown"><i class="icon-menu-grayLightest"></i></a>
          <ul class="dropdown-menu">
            <li class="dropdown-header">Personalize</li>
            <li><a ng-href="{{hudUrl}}"><i class="icon-ribbon-grayLightest"></i>Bookmarks</a></li>
            <li><a href="" ng-click="openProfileModal()"><i class="icon-head-grayLightest"></i>Profile</a></li>
            <li><a href="" ng-click="openSettingsModal()"><i class="icon-cog-grayLightest"></i>Settings</a></li>
            <li class="divider"></li>
            <li class="dropdown-header">Create</li>
            <li><a ng-href="{{centerUrl}}/#/edit"><i class="icon-square-plus-grayLightest"></i>Submit a Listing</a></li>
            <li><a ng-href="{{developerResourcesUrl}}" target="_blank"><i class="icon-cloud-grayLightest"></i>Developer Resources</a></li>
            <li class="divider"></li>
            <li class="dropdown-header">Manage</li>
            <li><a ng-href="{{centerUrl}}/#/user-management/my-listings"><i class="icon-layers-grayLightest"></i>Listing Management</a></li>
            <li><a ng-href="{{centerUrl}}/#/mall-management/categories"><i class="icon-shopping-settings-grayLightest"></i>Marketplace Settings</a></li>
            <li><a ng-href="{{metricsUrl}}" target="_blank" ng-show="isAdmin"><i class="icon-bar-graph-2-grayLightest"></i>Metrics</a></li>
            <li><a ng-href="{{feedbackAddress}}" class="caboose" target="{{feedbackTarget}}"><i class="icon-mail"></i>Submit Feedback</a></li>
        </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
