<nav class="navbar navbar-default navbar-fixed-top ozp-toolbar"
    ng-class="{true: 'hide', false: ''}[fullScreenMode]">
  <div class="container-fluid">
    <div class="navbar-left">
      <ul class="nav navbar-nav">
        <li><a class="lrg" ng-href="{{hudUrl}}"><i class="icon-home-grayLightest"></i></a></li>
        <li><a class="lrg" ng-href="{{centerUrl}}"><i class="icon-shopping-grayLightest"></i></a></li>
        <li class="active"><a class="lrg" ng-href="{{webtopUrl}}"><i class="icon-layout-blue"></i></a></li>
      </ul>
    </div>

    <div class="navbar-right">
      <ul class="nav navbar-nav">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-bell-filled-blue"></i></a>
          <ul class="dropdown-menu">
            <li>
              <a href="#">
                <button type="button" class="close pull-right"><span aria-hidden="true"><i class="icon-cross-10-white"></i></span></button>
                <img class="img-thumbnail pull-left" src="https://raw.githubusercontent.com/ozone-development/center-ui/master/app/images/sample-listings/JotSpot32.png" />
                <span>Writing down for maintenance</span><br /><i class="small">12/12/12 00:00</i>
              </a>
            </li>
            <li class="divider"></li>
            <li>
              <a href="#">
                <button type="button" class="close pull-right"><span aria-hidden="true"><i class="icon-cross-10-white"></i></span></button>
                <img class="img-thumbnail pull-left" src="https://raw.githubusercontent.com/ozone-development/center-ui/master/app/images/sample-listings/AirMail32.png" />
                <span>Airplanes down for maintenance</span><br /><i class="small">12/12/12 00:00</i>
              </a>
            </li>
            <li class="divider"></li>
            <li>
              <a href="#">
                <button type="button" class="close pull-right"><span aria-hidden="true"><i class="icon-cross-10-white"></i></span></button>
                <img class="img-thumbnail pull-left" src="https://raw.githubusercontent.com/ozone-development/center-ui/master/app/images/sample-listings/ChatterBox32.png" />
                <span>Chat down for maintenance</span><br /><i class="small">12/12/12 00:00</i>
              </a>
            </li>
          </ul>
        </li>
        <li>
          <a href="" ng-click="openHelpModal()" data-toggle="modal" data-target="#modal_help"><i class="icon-question-grayLightest"></i></a>
        </li>
        <li class="dropdown">
          <a href="#" class="lrg dropdown-toggle" data-toggle="dropdown"><i class="icon-menu-grayLightest"></i></a>
          <ul class="dropdown-menu">
            <li class="dropdown-header">Personalize</li>
            <li><a ng-href="{{hudUrl}}"><i class="icon-ribbon-grayLightest"></i>Bookmarks</a></li>
            <li><a href="" ng-click="openProfileModal()"><i class="icon-head-grayLightest"></i>Profile</a></li>
            <li><a href="" ng-click="openSettingsModal()"><i class="icon-cog-grayLightest"></i>Settings</a></li>
            <li class="divider"></li>
            <li class="dropdown-header">Create</li>
            <li><a ng-href="{{centerUrl}}/#/edit"><i class="icon-square-plus-grayLightest"></i>Submit a Listing</a></li>
            <li><a ng-href="{{developerResourcesUrl}}" target="_blank"><i class="icon-cloud-grayLightest"></i>Developer Resources</a></li>
            <li class="divider"></li>
            <li class="dropdown-header">Manage</li>
            <li><a ng-href="{{centerUrl}}/#/user-management/my-listings"><i class="icon-layers-grayLightest"></i>Listing Management</a></li>
            <li><a ng-href="{{centerUrl}}/#/mall-management/categories"><i class="icon-shopping-settings-grayLightest"></i>Marketplace Settings</a></li>
            <li><a ng-href="{{metricsUrl}}" target="_blank" ng-show="isAdmin"><i class="icon-bar-graph-2-grayLightest"></i>Metrics</a></li>
            <li><a ng-href="mailto:{{feedbackAddress}}" class="caboose"><i class="icon-mail"></i>Submit Feedback</a></li>
        </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
