<div class="btn-group dropup">
    <button class="btn btn-primary btn-sm dropdown-toggle" type="button" data-toggle="dropdown">
        Ozone
    </button>
    <ul class="dropdown-menu">
        <li ng-repeat="item in menu">{{item.name}}</li>
    </ul>
</div>

<div class="btn-group ozp-btm-btns">
    <button type="button" class="btn btn-primary btn-sm">
        <span class="glyphicon glyphicon-globe"></span>
    </button>
    <button type="button" class="btn btn-primary btn-sm">
        <span class="glyphicon glyphicon-user"></span>
    </button>
    <button type="button" class="btn btn-primary btn-sm">
        <span class="glyphicon glyphicon-cog"></span>
    </button>
</div>
