<div class="ozp-chrome">
    <img class="chrome-icon" ng-src="{{frame.icon}}">
    <span class="name">{{frame.name}}</span>
    <button type="button" class="btn btn-primary btn-sm chrome-btn chrome-minimize">
        <span class="glyphicon glyphicon-minus"></span>
    </button>
    <button type="button" class="btn btn-primary btn-sm chrome-btn chrome-maximize">
        <span class="glyphicon glyphicon-plus"></span>
    </button>
    <button type="button" class="btn btn-primary btn-sm chrome-btn chrome-close">
        <span class="glyphicon glyphicon-remove"></span>
    </button>
</div>
